@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

body {
  margin: 0 auto;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(205, 133, 63, 0.9);
  overflow: hidden;
  position: relative;
  display: flex;
}

.start-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.start-screen a {
  text-decoration: none;
  margin-top: 30px;
  cursor: pointer;
  font-size: 50px;
  color: black;
}

.start-screen a:hover {
  opacity: 0.6;
  transform: scale(1.1);
  transition: 0.5s;
}

.select-board-size-screen {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 150vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.select-board-size-screen h2 {
  font-size: 26px;
  margin-bottom: 50px;
  text-align: center;
}

.select-board-size-screen select {
  min-width: 200px;
  width: 30%;
  height: 40px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 0px 15px;
  background-color: rgba(205, 133, 63, 0);
  cursor: pointer;
  appearance: none;
}

.select-board-size-screen a {
  text-decoration: none;
  margin-top: 40px;
  cursor: pointer;
  font-size: 50px;
  color: black;
  opacity: 0.8;
  text-align: center;
}

.select-board-size-screen a:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: 0.5s;
}

.game-board-screen {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 150vw;
  display: flex;
  align-items: center;
}

.selection {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.selection-btn {
  width: 6vw;
  height: 6vw;
  border: 0;
  background-color: rgba(205, 133, 63, 0);
}

.selection-btn img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.selection-btn img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.selection span {
  font-size: 1.8vw;
}

.game-board {
  width: 40vw;
  height: 40vw;
  border: 1px solid #cd853f;
  border-radius: 30px;
  background-color: #cd853f;
  display: grid;
  padding: 10px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid silver;
  cursor: pointer;
}

.cell:hover {
  background-color: #f4a460;
}

.cell img {
  width: 50%;
  height: auto;
}

.btn-and-circle {
  display: flex;
  align-items: center;
  margin-top: 20%;
  margin-left: 10px;
}

.circle {
  width: 1vw;
  height: 1vw;
  background-color: red;
  border-radius: 50%;
  margin-left: 30px;
  visibility: hidden;
}

.active {
  visibility: visible;
}

.game-over {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.game-over h2 {
  font-size: 70px;
}

.game-over a {
  font-size: 42px;
  text-decoration: none;
  color: black;
  margin-top: 50px;
}

.game-over a:hover {
  opacity: 0.5;
  transition: 0.2s;
}

.game-over span {
  font-size: 50px;
  margin-top: 50px;
  font-style: italic;
}

.hide-screen {
  position: absolute;
  top: 0;
  left: -200vw;
  transition: 0.5s;
}

.show-screen {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

@media (max-width: 1000px) {
  .game-board {
    width: 50vw;
    height: 50vw;
  }
}

@media (max-width: 700px) {
  .game-board {
    width: 60vw;
    height: 60vw;
  }
}

@media (max-width: 500px) {
  .game-board {
    width: 70vw;
    height: 70vw;
  }
}
